.line {
  color: var(--color-line);
  pointer-events: none;
}

.horizontal {
  width: 100%;
  height: auto;
}

.vertical {
  width: 100%;
  height: 100%;
}

.zigzag {
  width: 100%;
  height: auto;
  min-height: 360px;
}
